@{
    ViewData["Title"] = "RuleCreation";
}
<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's Rules.</p>
<ul class="list-group">
  <li class="list-group-item">Cras justo odio</li>
  <li class="list-group-item">Dapibus ac facilisis in</li>
  <li class="list-group-item">Morbi leo risus</li>
  <li class="list-group-item">Porta ac consectetur ac
      <button type="button" style="float: right;" class="btn btn-danger ml-1">Delete</button>
      <button type="button" style="float: right;" class="btn btn-primary ml-1">Add</button>
  </li>
  <li class="list-group-item">Vestibulum at eros</li>
</ul>