
@using ICT2106.Models.DevcatTableModule
@using ICT2106.Models.DevcondTableModule
@model (ICT2106.Models.DevcatTableModule.IDevcat , ICT2106.Models.DevcondTableModule.IDevcond)
@{
    ViewData["Title"] = "Category";
    var CatData = ViewData["CatData"] as IList<IDevcat>;
    var DeviceData = ViewData["DeviceData"] as IList<IDevcond>;
}
<section id="sel_ConCat">
    <h1>Condition Details:</h1>
            <label for="cat_sel">Select Category:</label>
            <select class="form-control" id="cat_sel">
            @for (var i = 0; i < CatData.Count; i++) 
            {
                <option>@CatData[i].CatName</option>
            }
            </select>

            <label for="cat_sel">Select Device:</label>
            <select class="form-control" id="cat_sel">
            @for (var i = 0; i < DeviceData.Count; i++) 
            {
                <option>@DeviceData[i].DevCondition</option>
            }
            </select>
            <br>
            <form method="post" action="/Cat/MotionAdd">
            <div class="form-group">
            <h1>Motion Details</h1>
            <label for="HP">Human Presence:</label>
            <input type="text" class="form-control" id="HP" name="HP"  placeholder="Enter Yes or No">
            <label for="PP">Pet Presence:</label>
            <input type="text" class="form-control" id="PP" name="PP"  placeholder="Enter Yes or No">
            </div>
            <button  type="submit" class="btn btn-default">Submit</button>
            </form>

            <br>
            <form method="post" action="/Cat/TimeAdd">
            <div class="form-group">
            <h1>Timer Details</h1>
            <label for="tm">Time:</label>
            <input type="text" class="form-control" id="tm" name="tm"  placeholder="Set Timing">
            </div>
            <button  type="submit" class="btn btn-default">Submit</button>
            </form>
</section>
