
@using ICT2106.Models.ConditionTableModule
@using ICT2106.Models.DevcatTableModule
@using ICT2106.Models.DevcondTableModule
@model (ICT2106.Models.ConditionTableModule.Condition,ICT2106.Models.DevcatTableModule.IDevcat , ICT2106.Models.DevcondTableModule.IDevcond)
@{
    ViewData["Title"] = "Edit Condition";
    var ConditionData = ViewData["ConditionData"] as Condition;
    var viewDataCondition = ViewData["Condition"] as IList<ICondition>;
    var CatData = ViewData["CatData"] as IList<IDevcat>;
    var DeviceData = ViewData["DeviceData"] as IList<IDevcond>;
}
<!-- <h1>@ViewData["Title"]</h1> -->
    <h1>Edit Condition</h1>
    <br/>
    <br/>

    

  @for (var i = 0; i < viewDataCondition.Count; i++) 
		  {
   <form method="post" asp-action="Cond">
        <div class="form-group">
            <label for="Cname">Condition Name:</label>
            <input type="text" class="form-control" id="Cname" value="@viewDataCondition[i].CName">
        </div>


            <label for="Dname">Category</label>

            <select class="form-control" id="cat_sel">
            @for (var i = 0; i < CatData.Count; i++) 
            {
                <option>@CatData[i].CatName</option>
            }
            </select>

        <div class="form-group">
            <label for="Dname">Device Name:</label>
            <select class="form-control" id="Dname" >
                <option>Bulb</option>
                <option>Lamp</option>
            </select>
        </div>

  

        <div class="form_group">
            <input type="submit" class="btn btn-primary btn-sm" name="conditionSubmit" value="Edit Condition">
        </div>
    </form>
          }
          
