
@using ICT2106.Models.ConditionTableModule
@model ICT2106.Models.ConditionTableModule.Condition
@{
    ViewData["Title"] = "RuleCreation";
    var ConditionData = ViewData["ConditionData"] as Condition;
    var viewDataCondition = ViewData["Condition"] as IList<ICondition>;
}
<!-- <h1>@ViewData["Title"]</h1> -->
    <h1>Edit Condition</h1>
    <br/>
    <br/>

    

  @for (var i = 0; i < viewDataCondition.Count; i++) 
		  {
   <form method="post" asp-action="Cond">
        <div class="form-group">
            <label for="Cname">Condition Name:</label>
            <input type="text" class="form-control" id="Cname" value="@viewDataCondition[i].CName">
        </div>

        <div class="form-group">
            <label for="Catname">Category:</label>
            <input type="text" class="form-control" id="Catname"  value="dsad:" >
        </div>

        <div class="form-group">
            <label for="Dname">Device Name:</label>
            <select class="form-control" id="Dname" >
                <option>Bulb</option>
                <option>Lamp</option>
            </select>
        </div>

  

        <div class="form_group">
            <input type="submit" class="btn btn-primary btn-sm" name="conditionSubmit" value="Edit Condition">
        </div>
    </form>
          }
          
