
@using ICT2106.Models.ConditionTableModule
@model ICT2106.Models.ConditionTableModule.Condition
@{
    ViewData["Title"] = "RuleCreation";
    var ConditionData = ViewData["ConditionData"] as Condition;
}
<!-- <h1>@ViewData["Title"]</h1> -->
    <h1>Edit Condition</h1>
    <br/>
    <br/>
   <form method="post" asp-action="RuleAdd" asp-controller="Rule">
        <div class="modal-body">
            <label>Condition Name:</label><br/>
            <input id="RuleNameIn" type="text" asp-for="@ConditionData.Status" class="btn btn-default border"/>
            <br/>
            <label>Condition ID:</label><br/>
            <input id="RuleIdIn" type="text" asp-for="@ConditionData.ConditionID" class="btn btn-default border"/>
            <br/>
      </div>
      <div class="modal-footer">
        <input  type="submit" value="Submit" class="btn btn-default"/>
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </form> 

