@using ICT2106.Models.Listeners
@model (ICT2106.Models.Listeners.BothThreadList,ICT2106.Models.Listeners.StartAction,ICT2106.Models.Listeners.ThreadObj)

@{
    var dislist = ViewData["ForDisplay"] as BothThreadList;
}

@functions{
    public void DisplayTimers(){
        //html to display all Timers with stop timer button
    }
    public void DisplayMotion(){
        //html to display all Motion and button to activate the motion and button to remove the motion
    }
}
<ul>
@if (dislist != null){
    @for(var n = 0; n<dislist.ATimer.Count;n++){
        <form method="post" action="/Listen/TerminateThread">
        <input type="hidden" name="tid" value="@dislist.ATimer[n].ThreadID">
        <li>@dislist.ATimer[n].ThreadID.ToString()</li>
        <button type="submit">Terminate Thread</button>
        </form>
    }
}
</ul>
<form method="post" action="/Listen/GetActions">
<button>Test Multiple Timer</button> 
</form>
